body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #333;
}

video {
    width: 85%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: contain;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.back-button:hover {
    background-color: #bbb;
}

.download-button {
    font-size: 24px;
    padding: 10px;
    background-color: #ccc;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}

.download-button:hover {
    background-color: #bbb;
}